.div1{
    background-color: #fcbdf3;
    width: 800px; 
    height: 800px;
}

.div1Filha{
    background-color: #580f73; 
    width: 400px;
    height: 400px;
}

p{
    color: #1c1449; 
    background-color: #a6f3d8;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.div2{
    width: 10%; 
    height: 15vh;
    background-color: rgb(134, 93, 55);
}

.div2Filha{
    width: 50vw; 
    height: 10vh;
    background-color: rgb(68, 24, 7) ;
}